<nav>
<h2>Product Detail</h2>
<span> {{ user.name }} ({{ user.rol }}) </span>
    <ul>
        <li> <a href="/carts/{{ user.cart }}">
                Cart
            </a>
        </li>
        <li> <a href="/api/session/logout">
                Logout
            </a>
        </li>
    </ul>
</nav>
<hr>
<div>
    <ul id="mainProducts"></ul>

</div>

<hr>
<div id="buttons">
    <a href="/products">
        <button>Products</button>
    </a>
    <hr>
    <a href="/">
        <button>Home - All Products</button>
    </a>
    <hr>
    <a href="/chat">
        <button>Chat</button>
    </a>
    <hr>

    <a href="/realTimeProducts">
        <button>Real Time Products</button>
    </a>

</div>
<script>
    const productId = {{ productId }};
    const userCart = "{{ user.cart }}";

</script>

<script src="/assets/scripts/productDetail.js"></script>